html {
	background: var(--color-background);
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}

body {
	width: 100%;
	height: auto;
	min-height: 100vh;
	background-color: transparent;
	font-size: 18px;
}

div[id='root'] {
	width: 100%;
	height: auto;
	min-height: 100vh;
	background-color: transparent;
}
